* {
  margin: 0;
}

body {
  color: white;
  font-family: Nunito, sans-serif;
  overflow-x: hidden;
}

h1, h2 {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.nowrap {
  flex-wrap: nowrap;
}

.flex.h-center {
  justify-content: center;
}

.flex.v-center {
  align-items: center;
}

.flex.around {
  justify-content: space-around;
}

.flex.between {
  justify-content: space-between;
}

.flex.column {
  flex-direction: column;
}

.scrollable {
  overflow-y: scroll;
}

.board-contents.scrollable {
  max-height: 250px;
}

nav {
  height: 60px;
  margin-bottom: 10px;
}

#nav-bar {
  width: 100vw;
  height: inherit;
  background-color: #9a49aa;
  box-shadow: 0 0 0 10px #803c8c;
  position: fixed;
  top: 0;
  justify-content: flex-end;
  z-index: 3;
}

#nav-bar.coc-2022 {
  background-color: #2b2b2b;
  box-shadow: 0 0 0 10px #1b1b1b;
}

#nav-bar > a {
  margin: 5px;
  transition-duration: 0.2s;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

#nav-bar > a:hover {
  font-size: 1.25em;
}

@media screen and (width <= 768px) {
  #nav-bar {
    justify-content: center;
  }

  #nav-bar > a:hover {
    font-size: 1em;
  }
}

#background-container {
  width: 100vw;
  height: 100vh;
  background-color: #0bc2cf;
  position: fixed;
  top:0;
  z-index: -1;
}

#background {
  width: 150%;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("https://i.ibb.co/7pgnc8y/blook-bg.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.15;
}

#background-container.coc-2023 {
  background-image: url("./assets/backgrounds/coc_2023.png");
  background-color: transparent;
}

#background-container.coc-2022 {
  background-color: #373841;
}

#background-container.lunch {
  background-color: #ebebeb;
}